*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// navbar & footer
body{
    .navbar{
        height: 160px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-links{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            .nav-link{
                margin-left: 20%;
                list-style: none;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 19px;
                }
            }
            .logo img{
            width: 80px;
            }
        }
        

    }
    .footer{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
        a{
            margin-left: 10px;
            color: #c3bab5; 
        }
        
    }
}
// home page
.home-container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/home-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .middle-section{
        margin-top: 60px;
        color: #ffffff;
        display: flex;
        .bar{
            margin-left: 15%;
            background-color: #ffffff;
            width: 2px;
            height: 330px;
        }
        .bar-co{
            margin-left: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 420px;
            margin-top: 20px;
            h1{
                margin-bottom: 45px;
                font-weight: 100;
                font-size: 38px;
            }
            p{
                font-size: 17px;
                margin-bottom: 50px;
            }
            .bar-two{
                height: 2px;
                width: 84px;
                background-color: #ffffff;
                margin-bottom: 45px;
            }
            a{
                padding: 15px 33px;
                color: #ffffff;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.7);
                    color: #1f1e1e;
                    font-weight: 600;                    
                }
            }
        }
    }

}
// booking page
.booking-container{
    background-image: url(../images/products-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    .booking-cont{
        margin: 0 auto;
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .booking-main{
            width: 100%;
            height: 300px;
            h1{
                color: #ffffff;
                font-size: 38px;
                width: 340px;
                margin-bottom: 20px;
                font-weight: 300;
            }
            a{
                width: 200px;
                color: #ffffff;
                padding: 15px 25px;
                background-color: rgba(255, 255, 255, 0.3);
                display: flex;
                justify-content: center;
                text-decoration: none; 
                font-size: 16px;
                border-radius: 5px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.7);
                    color: #1f1e1e;
                    font-weight: 600;                    
                }
            }
        }
        .booking-bar{
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            margin-top: 20px;
        }
    }
    .card-section{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%; 
        margin-bottom: 20%;     
        justify-items: center;  
        .card{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 429px;
            height: 100%;
            max-height: 464px;
            background-image: url(../images/wood-element-1.png);
            background-size: 100px;
            border-radius: 10px;
            .card-img{
                width: 100%;
                position: relative;
                height: 222px;
                img{
                    width: 100%;

                }
                p{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 123px;
                    height: 38px;
                    background-color: #F0130D;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 10px;
                }
            }
            .card-text{
                height: 242px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                h4{
                    color: #f7f4f4;
                    font-size: 27px;
                    font-weight: 100;
                }
                p{
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 800;
                }
                a{
                    color: #ffffff;
                    text-decoration: none;
                    padding: 29px 115px;
                    background-color: rgba($color: #e05b18, $alpha: 0.8);
                    border-radius: 3px;
                    font-size: 20px;
                    &:hover{
                        background-color: #b63d00 ;
                    }
                }
            }
        }
        
    }
}
// nearby page
.nearby-container{
    background-image: url(../images/nearby-img.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    .nearby-cont{
        margin: 0 auto;
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .nearby-main{
            width: 100%;
            height: 300px;
            h1{
                color: #ffffff;
                font-size: 38px;
                width: 340px;
                margin-bottom: 20px;
                font-weight: 300;
            }
            a{
                width: 200px;
                color: #ffffff;
                padding: 15px 25px;
                background-color: rgba(255, 255, 255, 0.3);
                display: flex;
                justify-content: center;
                text-decoration: none; 
                font-size: 16px;
                border-radius: 5px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.7);
                    color: #1f1e1e; 
                    font-weight: 600;                   
                }
            }
        }
        .nearby-bar{
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            margin-top: 20px;
        }
    }
}